header {
  display: flex;
  justify-content: space-between; /* or space-around, space-evenly */
  align-items: center;
  background-color: #ffd;
  color: white;
  padding: 10px 20px;
}

a {
    color: #00f;
    font:100% wtahoma,Tahoma,Arial,sans-serif;
}

body {
    background-color: lavender;
}

p {
    font:76% wtahoma,Tahoma,Arial,sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

h1 {
    text-align: center;
    font-family: "Roboto Mono", sans-serif;
}

h2 {
    font-family: "Roboto Mono", sans-serif;
}

h3 {
    font-family: "Roboto Mono", sans-serif;
    color: #f00;
}

h4 {
    font-family: "Roboto Mono", sans-serif;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
}