#joke {
    color: #7700ff;
    cursor: help;
}  

#announcement {
    color: #00AA00;
}

#clickButton {
    width: 150px;
    height: 150px;
    font-size: 25px;
    background-color: #f00;
    cursor: cell;
}

#checkButton {
    background-color: lightgreen;
    cursor: pointer;
}

#answerButton {
    background-color: lightgreen;
    cursor: pointer;
}

#FloppyBirdRedirect {
    width: 100px;
    height: 50px;
    background-color: orange;
    cursor: pointer;
}

#artCanvas { 
    border: 4px solid black; 
    cursor: crosshair;
}
.palette { display: flex; margin: 10px 0; }
.color { width: 30px; height: 30px; cursor: pointer; margin: 0 5px; }

#paintBucket {
    background-color: darkgray;
    cursor: pointer;
}

#pencil {
    background-color: darkorange;
    cursor: pointer;
}

#news {
    color: orchid;
}