#joke {
    color: #7700ff;
    cursor: help;
}  

#announcement {
    color: rgb(255, 140, 0);
}

#checkButton {
    background-color: lightgreen;
    cursor: pointer;
}

#answerButton {
    background-color: lightgreen;
    cursor: pointer;
}

#news {
    color: rgb(240, 0, 0);
}

#payoutInfo {
    color: #e0C;
}

#myself {
    color: #00f;
    font-family: "Roboto Mono", sans-serif;
}

#siteUpdates {
    color: #FFF;
    font:100% wtahoma,Tahoma,Arial,sans-serif;
}